@import "tailwindcss";

/* CSS tùy chỉnh của bạn ở đây */
:root {
  --background: #000000; /* Nền màu đen */
  --foreground: #ffffff; /* Chữ màu trắng */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Nền màu đen cho dark mode */
    --foreground: #ffffff; /* Chữ màu trắng cho dark mode */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}